<div id='map'></div>
<script>
L.mapbox.accessToken = 'pk.eyJ1IjoibmVwdHVuZW5lbyIsImEiOiI2NmZmMGQ1NmEzYjQ1MmNmYjBmNTY0OWI1NTg3MDY1ZSJ9.wX2V2sG7iB8_CGQ4eW4BHA';
var map = L.mapbox.map('map', 'mapbox.streets')
    .setView([40, -74.50], 9);
</script>