<footer class="footer">
  <small>
    Foodprint
    by <a href="https://about.me/yollyhideout">Yuri Chow</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://yollyhideout.wordpress.com">News</a></li>
    </ul>
  </nav>
</footer>